.products__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 30px;

    @media (max-width: 1240px) {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
