.cart {
    position: relative;
    color: var(--gray);
}

.badge {
    position: absolute;
    top: -8px;
    right: -11px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: var(--orange);
    max-width: 20px;
    width: 100%;
}

.cart:hover {
    color: black;
    transition: 0.5s all;
}
