.cart {
    position: relative;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: #ffa542;
    max-width: 20px;
    width: 100%;
}
