.card {
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 26px;
    @media (max-width: var(--bp-tablet)) {
        height: auto;
        padding: 15px;
    }
}
