.favorites {
    position: relative;
    color: var(--gray);
    border: 1px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -11px;
    font-weight: var(--fw-medium);
    font-size: var(--fs-sm);
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: var(--orange);
    max-width: 20px;
    width: 100%;
}

.favorites:hover {
    color: black;
    transition: 0.5s all;
    cursor: pointer;
}
