.card {
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.card__inner {
    padding: 20px 15px;
}

.card__img {
    display: block;
    margin: 0 auto;
}

.card__info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__title {
    font-weight: 600;
    font-size: 17px;
    color: #1c1c27;
}

.card__prices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__price-actual {
    font-weight: 600;
    font-size: 17px;
    color: #ffa542;
}

.card__price-old {
    font-weight: 600;
    font-size: 13px;
    text-decoration: line-through;
    color: #ffce7f;
}

.card__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__rating {
    font-weight: 600;
    font-size: 17px;
    color: #838383;
}

.card__btn {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 17px;
    color: #000;
}
