.card {
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 26px;
}

.card__inner {
    display: flex;
    gap: 55px;
    flex-direction: column;
}

.card__img_wrapper {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img {
    display: block;

    max-height: 100%;
    width: 100%;
    max-width: 220px;
    object-fit: contain;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__title {
    font-weight: 600;
    font-size: 17px;
    color: #1c1c27;
}

.card__prices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__price_actual {
    font-weight: 600;
    font-size: 17px;
    color: #ffa542;
}

.card__price_old {
    font-weight: 600;
    font-size: 13px;
    text-decoration: line-through;
    color: #ffce7f;
}

.card__footer {
    /* margin-top: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__rating {
    font-weight: 600;
    font-size: 17px;
    color: #838383;
}

.card__btn {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 17px;
    color: #000;
}
