.footer {
}

.footer__inner {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    color: #101010;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}

.condition {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.languages {
    margin-top: 35px;
    display: flex;
    gap: 17px;
    align-items: center;
}

.languages__ru {
    color: #ffa542;
}

.languages__eng {
    color: #101010;
}

.languages__ru,
.languages__eng {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
}

.footer__socials {
    display: flex;
    gap: 18px;
    align-items: center;
}
