.header {
    padding-top: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: #101010;
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}
