.catalog {
    padding: 20px 0;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #838383;
}

.subtitle {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
}
