.header {
    padding-top: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}
