.header {
    padding-top: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
    }
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
    @media (max-width: 480px) {
        gap: 15px;
    }
}
