.cart {
    padding-top: 30px;
    width: 100%;
}

.title {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-lg);
    color: var(--light-black);
}

.cart__wrapper {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 630px;
    width: 100%;
}

.cart__summary {
    max-width: 350px;
    width: 100%;
}
