.cart__item {
    width: 100%;
    max-width: 630px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px 25px 20px 18px;
}

.item__inner {
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item__img {
    max-width: 100%;
    object-fit: contain;
}

.item__quantity {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantity__btn {
    border: none;
    background: none;
}

.quantity__value {
    font-weight: 600;
    font-size: 17px;
    color: #000;
}

.item__info {
    max-width: 350px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item__title {
    font-weight: 500;
    font-size: 17px;
    color: var(--light-black);
}

.item__price {
    font-weight: 600;
    font-size: 15px;
    color: #aaa;
}

.item__sidebar {
    max-width: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
    min-height: 215px;
}

.item__delete_btn {
    border: none;
    background: none;
}

.item__sum {
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    color: var(--light-black);
}
