.footer {
    margin-top: 20px;
}

.footer__inner {
    background-color: var(--white);
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__link {
    font-weight: 400;
    font-size: var(--fs-md);
    color: var(--black);
    text-decoration: none;
}

.footer__tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.condition {
    font-weight: 400;
    font-size: var(--fs-md);
    color: var(--black);
}

.languages {
    display: flex;
    gap: 15px;
    align-items: center;
}

.languages__ru {
    color: var(--orange);
}

.languages__eng,
.languages__kaz {
    color: var(--black);
}

.languages__ru,
.languages__eng,
.languages__kaz {
    font-weight: var(--fw-medium);
    font-size: var(--fs-sm);
}

.footer__socials {
    display: flex;
    gap: 18px;
    align-items: center;
    @media (max-width: 480px) {
        justify-content: center;
    }
}
