.footer {
    margin-top: 20px;
}

.footer__inner {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: var(--black);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__link {
    font-weight: 400;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}

.footer__tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.condition {
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.languages {
    display: flex;
    gap: 15px;
    align-items: center;
}

.languages__ru {
    color: var(--orange);
}

.languages__eng,
.languages__kaz {
    color: var(--black);
}

.languages__ru,
.languages__eng,
.languages__kaz {
    font-weight: 500;
    font-size: 15px;
}

.footer__socials {
    display: flex;
    gap: 18px;
    align-items: center;
}
