.cart__summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px 20px 0 20px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__text,
.cart__result_sum {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.checkout__btn {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #101010;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #fff;
    padding: 22px 0;
}
