* {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;

    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --gray: #838383;
    --light-gray: #aaa;
    --semi-gray: #999;
    --black: #101010;
    --light-black: #1c1c27;
    --white: #fff;
    --orange: #ffa542;
    --light-orange: #ffce7f;
    --font-family: "Montserrat", sans-serif;
    --fs-sm: 15px;
    --fs-md: 17px;
    --fs-lg: 20px;
    --fw-medium: 500;
    --fw-semibold: 600;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    font-weight: var(--fw-medium);
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #eaeaea;
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
