.catalog {
    padding-top: 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: var(--gray);
}

.subtitle {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    color: var(--gray);
}
