.catalog {
    padding-top: 20px;
}

.title {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-lg);
    color: var(--gray);
}

.subtitle {
    margin-top: 15px;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-lg);
    color: var(--gray);
}
